@import "../vars";

.Checkbox {
  $tickSize: round(1.7 * $unit);
  $tickColor: currentColor;
  $tickColorActive: $bgc-primary;

  &:hover {
    input:not(:checked):not(:disabled) {
      ~ .tick:after {
        opacity: 1;
      }
    }
  }

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;

    &:focus ~ .tick {
      border-style: solid;
    }

    &:checked {
      ~ .tick {
        color: $tickColorActive;
        &:after {
          opacity: 1;
        }
      }
    }
    &:disabled {
      ~ .tick {
        color: $tickColor;
      }
      ~ * {
        opacity: .5;
        pointer-events: none;
      }
    }
    &:not(:disabled) ~ * {
      cursor: pointer;
    }
  }

  .label {
    margin-right: $margin;
  }

  > .tick {
    position: relative;
    width: $tickSize;
    height: $tickSize;
    border-radius: $radius;
    color: $tickColor;
    border: 2px outset currentColor;
    flex-shrink: 0;

    &:after {
      content: "";
      position: absolute;
      left: 1px;
      top: -1px;
      width: 120%;
      height: 60%;
      border: 3px solid currentColor;
      border-top: 0;
      border-right: 0;
      transform: rotate(-45deg);
      opacity: 0;
    }

    + * {
      margin-left: .5em;
    }
  }
}