.Radio {
  $buttonSize: 17px;

  --color: currentColor;
  --color-active: var(--color);
  --color-hover: #{$bgc-primary};

  &:hover {
    input:not(:checked):not(:disabled) {
      ~ .tick {
        color: var(--color-hover);

        &:after {
          opacity: 1;
        }
      }
    }
  }

  input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;

    &:focus ~ .tick {
      border-style: solid;
    }

    &:checked {
      ~ .tick {
        color: var(--color-active);

        &:after {
          opacity: 1;
        }
      }
    }

    &:disabled {
      ~ * {
        opacity: .5;
        pointer-events: none;
      }
    }

    &:not(:disabled) ~ * {
      cursor: pointer;
    }
  }

  > .tick {
    position: relative;
    width: $buttonSize;
    height: $buttonSize;
    color: var(--color);
    border-radius: 50%;
    border: 2px solid currentColor;

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      transform: scale(.7);
      border-radius: inherit;
      background: currentColor;
      opacity: 0;
    }

    + * {
      margin-left: .5em;
    }
  }
}