.Checkbox.Radio {
  > .box {
    border-radius: 50%;

    &:after {
      content: "";
      width: 100%;
      height: 100%;
      transform: scale(.7);
      border-radius: inherit;
      background: currentColor;
    }
  }
}