.NumberInput {
  input[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  .arrowIcons {
    display: flex;
    flex-direction: column;

    > .Icon {
      --size: 22px;
      --bgc-active: none;
      --color-active: var(--theme-color-primary);

      position: relative;
      flex: 1;
      margin: -6px 0;
    }
  }
}
