
.InputTranslation {
  .input-area {
    .Input {
      flex: 1;

      label {
        padding-bottom: var(--theme-spacing-half);
      }
      a {
        cursor: pointer;
      }
    }

    .Icon.active {
      opacity: .5;
    }
  }

  .translation-results {
    &.rtl {
      direction: rtl;
    }

    .translation {
      margin-bottom: var(--flex-gap);

      .value {
        white-space: pre-line;
      }

      .transcription {
        margin-left: var(--theme-spacing-half);
        opacity: .75;
      }
    }

    .lang {
      padding-left: var(--theme-spacing);
      white-space: nowrap;
      line-height: 2;
      opacity: .5;
    }

    .link {
      border-bottom: 1px dotted;
      cursor: pointer;
      opacity: .75;

      &:hover {
        opacity: 1;
      }
    }

    .dictionary {
      margin-top: var(--theme-spacing);

      * {
        vertical-align: top;
      }

      .word-type {
        font-weight: bold;
        padding: var(--theme-spacing-half);
      }

      .word {
        padding: 0 var(--theme-spacing-double);
      }

      .word-meanings {
      }

      .examples {
        cursor: help;
        margin-left: 5px;
        font-weight: bold;
      }
    }
  }

  .translation-error {
    color: $red-300;
  }

  .hint {
    opacity: .55;
    padding-right: 60px; // input's max-length block
  }
}