// Animations available by name
@import "../vars";

@mixin animate-opacity($enterDuration: 350ms, $leaveDuration: 500ms) {
  &.animate {
    opacity: 0;
    &.enter {
      transition: opacity $enterDuration;
      opacity: 1;
    }
    &.leave {
      transition: opacity $leaveDuration;
      opacity: 0;
    }
  }
}

.opacity {
  @include animate-opacity;
}

@mixin animate-drop-down($enterDuration: 150ms, $leaveDuration: 350ms) {
  &.animate {
    position: absolute;
    overflow: hidden;
    > * {
      transform: translateY(-100%);
    }
    &.enter > * {
      transition: transform $enterDuration;
      transition-timing-function: $animation-curve-fast-out-slow-in;
      transform: translateY(0%);
    }
    &.enter.active {
      overflow: visible;
    }
  }
}

.drop-down {
  @include animate-drop-down;
}
