.Button {
  --bgc-waiting: #ffffffd8;
  --bgc-outline: transparent;

  position: relative;
  overflow: hidden; // required for transition effect on hover
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background: #414448;
  flex-shrink: 0;
  line-height: 1;
  font: inherit;
  border-radius: var(--theme-border-radius);
  padding: var(--theme-spacing) calc(var(--theme-spacing) * 1.5);

  &[href] {
    display: inline-block;
  }

  &.primary {
    background: var(--theme-color-primary);
  }

  &.accent {
    background: var(--theme-color-accent);
  }

  &.outline {
    color: inherit;
    background: var(--bgc-outline);
    box-shadow: 0 0 0 1px inset;
    transition: 100ms box-shadow ease-out;

    &:focus,
    &:hover {
      box-shadow: 0 0 0 2px inset !important;
    }

    &:disabled {
      background: none;
      opacity: .5;
    }
  }

  &.big {
    font-size: 22px;
    border-radius: 50px;
    padding: .75em 1em;
  }

  &.round {
    border-radius: 50%;
    padding: .7em;
  }

  form:not([novalidate]):invalid &[type=submit]:not(.active),
  &:disabled {
    color: silver;
    background: gray;
    pointer-events: none;
  }

  &.waiting {
    pointer-events: none;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 100%;
      background: var(--bgc-waiting);
      animation: ButtonWaitingAnimation 1.5s infinite linear;
    }
  }

  &:focus:not(:active) {
    transition: box-shadow 350ms;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .5);
  }

  &:active:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: var(--bgc-waiting);
    transform-origin: left top;
    transition: transform 150ms;
    transform: rotate(0deg);
    pointer-events: none; // hackfix: safari prevents clicks on button when click-target is a child element nor button itself
  }

  &:before {
    content: "";
    transform: rotate(-90deg);
  }
}

@keyframes ButtonWaitingAnimation {
  0% {
    left: 0;
    width: 0;
  }
  50% {
    left: 25%;
    width: 75%;
  }
  75% {
    left: 100%;
    width: 0;
  }
}