.MenuItem {
  --color: inherit;
  --color-active: #{$color-secondary};
  --spacing: #{$padding};

  position: relative;
  display: flex;
  align-items: center;
  color: var(--color);
  padding: var(--spacing);
  white-space: nowrap;
  transition: 250ms background;
  text-decoration: none;
  text-overflow: ellipsis;

  &:hover:not(.disabled) {
    color: var(--color-active);
    background: var(--bgc-active);
    cursor: pointer;
  }

  &:focus {
    outline: 1px solid $bgc-primary;
  }

  &.active {
    color: var(--color-active);
    background-color: var(--bgc-active);
    cursor: default;
  }

  &.disabled {
    pointer-events: none;
    opacity: .5;
  }

  &.spacer {
    padding: 0;
    height: 0;
    overflow: hidden;
    border-top: 1px solid $border-color;
    pointer-events: none;
  }

  .Icon {
    &:first-child {
      margin-left: 0;
      margin-right: $padding;
    }
  }
}
