.MenuItem {
  --color: inherit;

  position: relative;
  display: flex;
  align-items: center;
  padding: var(--theme-spacing);
  color: var(--theme-color-text);
  white-space: nowrap;
  transition: 150ms background-color;
  text-decoration: none;
  text-overflow: ellipsis;

  &:focus,
  &:hover:not(.disabled),
  &.active {
    background: var(--theme-color-primary);
    color: white;
    cursor: pointer;
  }

  &.active {
    cursor: default;
  }

  &.disabled {
    pointer-events: none;
    opacity: .5;
  }

  &.spacer {
    padding: 0;
    height: 0;
    overflow: hidden;
    border-top: 1px solid var(--theme-border-color);
    pointer-events: none;
  }

  .Icon {
    &:first-child {
      margin-left: 0;
      margin-right: var(--theme-spacing);
    }
  }
}
