.Menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  list-style: none;
  background: var(--theme-bgc);
  border: 1px solid var(--theme-border-color);
  border-radius: var(--theme-border-radius);
  z-index: 100;

  &.portal {
    left: -1000px;
    top: -1000px;

    &.top {
      margin-top: -$margin;
    }

    &.bottom {
      margin-top: $margin;
    }
  }

  &:not(.portal) {
    margin: $margin / 2 0;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    &.top {
      bottom: 100%;
    }

    &.bottom {
      top: 100%;
    }
  }

  &:empty {
    display: none;
  }
}
