@use "../mixins" as *;

.Menu {
  @include custom-scrollbar;

  position: absolute;
  display: flex;
  flex-direction: column;
  list-style: none;
  background: var(--theme-bgc);
  border: 1px solid var(--theme-border-color);
  border-radius: var(--theme-border-radius);
  left: -1000px;
  top: -1000px;
  z-index: 10000;
  max-height: 300px;

  &.top {
    margin-top: calc(var(--theme-spacing) * -1);
  }

  &.bottom {
    margin-top: var(--theme-spacing);
  }

  &:empty {
    display: none;
  }
}
