/* XTranslate global injectable CSS-styles */
@use "../components/theme" as *;

[data-tooltip]:hover [data-tooltip]::after {
  z-index: 2;
}

[data-tooltip] {
  @include theme-vars;
  position: relative;

  &:hover {
    text-decoration: underline;
    text-decoration-style: dotted;

    &::after {
      visibility: visible;
      opacity: 1;
    }
  }

  &::after {
    content: attr(data-original) "\A" attr(data-translation);
    white-space: pre-wrap;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 500ms;
    color: white;
    background: black;
    padding: var(--theme-spacing);
    border-radius: var(--theme-border-radius);
    border: 1px solid;
    position: absolute;
    text-align: left;
    left: 0;
    top: 100%;
    width: 100%;
    min-width: min-content;
    max-width: max-content;
    z-index: 1;
  }
}
