$md-icons-font-path: "chrome-extension://__MSG_@@extension_id__/fonts/";
@import "../components/ui/icons/material-icon.font";

.XTranslate {
  &, &-icon {
    all: initial;
  }
}

.XTranslate {
  position: absolute !important;
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 1000000000 !important; // bigger than in lingualeo :P

  &-icon {
    $iconSize: 24px;
    $md-icons-parent-selector: '&';
    @import "../components/ui/icons/material-icon";

    position: absolute;
    font-style: normal;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px -1px;
    color: black;
    background: white;
    width: $iconSize;
    height: $iconSize;

    &.isLeftTop {
      transform: translate(-100%, -100%);
    }

    &:hover {
      background: black;
      color: white;
    }

    &:after {
      @extend .material-icons;
      all: unset;
      content: "translate";
      pointer-events: none;
    }
  }
}