.XTranslate {
  @include theme-vars;

  all: initial; // reset all due possible leaking of inherited props (color, font, line-height, etc.)
  position: absolute !important;
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
  z-index: 1000000000 !important;

  *, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
  }
}