@import "~flex.box";

:host {
  all: initial !important;

  .Popup {
    $offset: 7px;
    position: absolute;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin: $offset 0;

    &.pdf {
      margin: $offset;
    }
  }

  *, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
  }
}