.Tabs {
  display: flex;
  user-select: none;
  -webkit-user-select: none; /* safari */
  -moz-user-select: none; /* firefox */

  &.wrap {
    flex-wrap: wrap;
  }

  &.center {
    > :first-child {
      margin-left: auto;
    }

    > :last-child {
      margin-right: auto;
    }
  }

  &.scrollable {
    @include hidden-scrollbar;
    overflow-y: hidden;
  }
}

.Tab {
  position: relative;
  padding: $padding $padding * 2;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;

  &.disabled {
    pointer-events: none;
    opacity: .5;
  }

  &:not(.disabled) {
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: $unit /2;
      transition: width 250ms;
      background: currentColor;
    }

    @mixin isActive {
      width: 100%;
      left: 0;
      right: auto;
    }

    &:focus,
    &:hover {
      &:after {
        @include isActive;
      }
    }

    &.active:after {
      @include isActive;
      color: $bgc-primary;
    }
  }
}

@include theme-dark {
  .Tabs {
    color: lighten($color-primary, 10%);
  }
}