@import "../mixins";

.Tabs {
  display: flex;
  user-select: none;
  border-bottom: 1px solid var(--theme-border-color);
  color: var(--theme-color-text);

  &.wrap {
    flex-wrap: wrap;
  }

  &.center {
    > :first-child {
      margin-left: auto;
    }

    > :last-child {
      margin-right: auto;
    }
  }

  &.scrollable {
    @include hidden-scrollbar;
    overflow-y: hidden;
  }
}

.Tab {
  position: relative;
  padding: var(--theme-spacing) calc(var(--theme-spacing) * 2);
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: bold;

  &.disabled {
    pointer-events: none;
    opacity: .5;
  }

  &:not(.disabled) {
    cursor: pointer;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      width: 0;
      height: 5px;
      transition: width 250ms;
      background: currentColor;
    }

    @mixin isActive {
      width: 100%;
      left: 0;
      right: auto;
    }

    &:focus,
    &:hover {
      &:after {
        @include isActive;
      }
    }

    &.active:after {
      @include isActive;
      color: var(--theme-color-primary);
    }
  }
}
