@import "../vars";

.Stepper {
  --stepper-color: #272a2e;
  --stepper-color-point: var(--stepper-color);
  --stepper-color-text: $color-primary;
  --stepper-color-active: $bgc-primary;

  $pointSize: $unit * 2.5;
  font-size: small;

  .step {
    position: relative;
    text-align: center;
    &.active, &.done {
      .point {
        color: white;
        background: var(--stepper-color-active);
      }
      .step-title {
        color: var(--stepper-color-active);
      }
    }
    &.done > .line {
      background: var(--stepper-color-active);
    }
  }

  .point {
    position: relative;
    display: block;
    margin: auto;
    width: $pointSize;
    height: $pointSize;
    line-height: $pointSize;
    background: var(--stepper-color-point);
    color: var(--stepper-color-text);
    font-size: small;
    border-radius: 50%;
  }

  .line {
    position: absolute;
    width: 100%;
    height: 1px;
    top: $pointSize / 2;
    background: var(--stepper-color-point);
  }
}