.Popup {
  --theme-spacing: .6em;

  position: relative;
  padding: var(--theme-spacing);
  margin: var(--theme-spacing) 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 100ms ease-out;
  transition-delay: 100ms;
  line-height: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  &.previewMode {
    margin: auto;
  }

  &.fixedPos {
    position: fixed !important;
    margin: var(--theme-spacing);

    &:global {
      &.left {
        left: 0;
      }

      &.top {
        top: 0;
      }

      &.right {
        right: 0;
      }

      &.bottom {
        bottom: 0;
      }
    }
  }

  &.visible {
    visibility: visible;
    opacity: 1;
    z-index: 10000 !important;
  }

  .rtl {
    direction: rtl;
  }

  .icon {
    --size: 1.6em;
    --bgc-active: none;

    width: auto;
    height: auto;
    opacity: .75;
    cursor: pointer;
    user-select: none;
    color: inherit !important;
    border-radius: 0 !important;
    overflow: hidden; // avoid jumping scrollbar on first show (due <Icon> size based on material-icons font)

    &:focus, &:hover {
      opacity: 1;
    }
  }

  .translationResult {
    --flex-gap: var(--theme-spacing-half);

    @include custom-scrollbar($borderSpace: 1px) {
      --theme-scrollbar-size: .5em;
      --theme-scrollbar-bgc: none;
      border: 1px solid;
    }

    .translation {
      display: flex;
      gap: var(--flex-gap);

      .value {
        padding: 2px 0;
        flex: 1 0;
      }

      .transcription {
        opacity: .75;
        font-style: normal;
      }

      .icons {
      }
    }

    .dictionary {
      margin-top: var(--theme-spacing-half);

      .wordType {
        font-weight: bold;
      }

      .wordMeanings {
        padding-left: var(--theme-spacing);

        .word[title] {
          cursor: help;
        }
      }
    }
  }

  .translationError {
    display: flex;
    align-items: center;
    gap: var(--flex-gap);

    .errorInfo {
      flex: 1;
    }

    .errorIcon {
      pointer-events: none;
    }

    a {
      font-style: italic;
    }
  }

  a {
    color: inherit;
  }

  .translatedFrom {
    font-style: italic;
    margin-top: var(--theme-spacing);
    opacity: .75;
  }
}

.iconTooltip {
  z-index: 100000 !important; // should be higher then popup's z-index ^
}
