@use "../mixins" as *;

.Popup {
  --theme-spacing: .6em;

  position: absolute;
  visibility: hidden;
  opacity: 0;
  padding: var(--theme-spacing);
  transition: opacity 100ms ease-out;
  transition-delay: 100ms;
  line-height: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  &.previewMode {
    position: relative;
    margin: auto;
  }

  &.fixedPos {
    position: fixed;
    margin: var(--theme-spacing);

    &:global {
      &.left {
        left: 0;
      }

      &.top {
        top: 0;
      }

      &.right {
        right: 0;
      }

      &.bottom {
        bottom: 0;
      }
    }
  }

  &.visible {
    visibility: visible;
    opacity: 1;
    z-index: 10000 !important;
  }

  .icon {
    --icon-size: 1.6em;
    --icon-bgc-active: none;

    width: auto;
    height: auto;
    opacity: .75;
    cursor: pointer;
    user-select: none;
    color: inherit !important;
    border-radius: 0 !important;
    overflow: hidden; // avoid jumping scrollbar on first show (due <Icon> size based on material-icons font)

    &:focus, &:hover {
      opacity: 1;
    }
  }

  .translationResult {
    --flexGap: var(--theme-spacing-half);
    padding-right: var(--flexGap);

    @include custom-scrollbar($borderSpace: 1px) {
      --theme-scrollbar-size: .5em;
      --theme-scrollbar-bgc: none;
      border: 1px solid;
    }

    .translation {
      display: flex;
      align-items: center;
      gap: var(--flexGap);

      .value {
        padding: 2px 0;
        flex: 1 0;
      }

      .transcription {
        opacity: .75;
        font-style: normal;
      }

      .icons {
        display: flex;
        gap: 2px;
        align-items: center;
      }
    }

    .dictionary {
      margin-top: var(--theme-spacing-half);

      .wordType {
        font-weight: bold;
      }

      .wordMeanings {
        padding-left: var(--theme-spacing);

        .word[title] {
          cursor: help;
        }
      }
    }
  }

  .translationError {
    display: flex;
    align-items: center;
    gap: var(--flexGap);

    .errorInfo {
      flex: 1;
    }

    .errorIcon {
      pointer-events: none;
    }

    a {
      font-style: italic;
    }
  }

  a {
    color: inherit;
  }

  .translatedFrom {
    font-style: italic;
    margin-top: var(--theme-spacing);
    opacity: .75;
  }

  .providerSelect {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: var(--theme-spacing-half);

    &:hover .providerSelectIcon {
      opacity: 1;
    }

    .providerSelectIcon {
      --icon-size: 16px;
      --icon-color-active: currentColor;
    }

    select {
      all: unset;
      position: absolute;
      font: inherit;
      inset: 0;
      appearance: none;
      background: none;
      color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
