.Popup {
  $spacing: .6em;

  position: relative;
  padding: $spacing;
  visibility: hidden;
  opacity: 0;
  transition: opacity 100ms ease-out;

  &.visible {
    visibility: visible;
    opacity: 1;
    transition-delay: 100ms;
  }

  > .content {
    $scrollSize: 10px;
    overflow: auto;
    &::-webkit-scrollbar {
      width: $scrollSize;
      height: $scrollSize;
    }
    &::-webkit-scrollbar-thumb {
      border: 1px solid;
      border-radius: $scrollSize / 2;
    }
    &::-webkit-scrollbar-corner {
      background: none;
    }
  }

  .material-icons {
    font-size: 1.6em;
    opacity: .75;
    cursor: pointer;

    &:first-child {
      margin-right: 5px;
    }

    &:last-child {
      margin-left: 5px;
    }

    &:hover {
      opacity: 1;
      color: inherit !important;
    }
  }

  .translation-result {
    .translation {
      padding: 2px 0;
    }
    .transcription {
      opacity: .75;
      font-style: normal;
    }
    .dictionary {
      margin-top: $spacing /2;
      .word-type {
        font-weight: bold;
      }
      .word-meanings {
        padding-left: $padding;
        .word[title] {
          cursor: help;
        }
      }
    }
  }
}