.Popup {
  $spacing: .6em;

  position: relative;
  padding: $spacing;
  visibility: hidden;
  opacity: 0;
  transition: opacity 100ms ease-out;
  line-height: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  &:not(.preview) {
    &:not(.fixedPos) {
      position: absolute;
      margin: $spacing 0;
    }

    &.fixedPos {
      position: fixed;
      margin: $spacing;

      &.leftTop {
        left: 0;
        top: 0;
      }

      &.leftBottom {
        left: 0;
        bottom: 0;
      }

      &.rightTop {
        right: 0;
        top: 0;
      }

      &.rightBottom {
        right: 0;
        bottom: 0;
      }
    }

    &.showInPdf {
      margin: $spacing;
    }
  }

  &.preview {
    > .content {
      overflow: initial;
    }
  }

  &.visible {
    visibility: visible;
    opacity: 1;
    transition-delay: 100ms;
  }

  > .content {
    $scrollSize: 10px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: $scrollSize;
      height: $scrollSize;
    }

    &::-webkit-scrollbar-thumb {
      border: 1px solid;
      border-radius: $scrollSize / 2;
    }

    &::-webkit-scrollbar-corner {
      background: none;
    }
  }

  .rtl {
    direction: rtl;
  }

  .Icon {
    --bgc-active: none;

    font-size: 1.6em;
    opacity: .75;
    cursor: pointer;
    user-select: none;
    color: inherit !important;

    &:focus,
    &:hover {
      opacity: 1;
    }
  }

  .translation-result {
    --flex-gap: 5px;

    .value {
      padding: 2px 0;
    }

    .transcription {
      opacity: .75;
      font-style: normal;
    }

    .dictionary {
      margin-top: $spacing /2;

      .word-type {
        font-weight: bold;
      }

      .word-meanings {
        padding-left: $padding;

        .word[title] {
          cursor: help;
        }
      }
    }
  }

  .translation-error {
    --flex-gap: #{$padding};

    .Icon.info {
      pointer-events: none;
    }

    a {
      font-style: italic;
    }
  }

  a {
    color: inherit;
  }
}