@import "~flex.box";
@import "theme-dark";
@import "../mixins";

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 62.5%; // 1 rem == 10px
  color: $color-primary;
  height: 100%;
}

body {
  --flex-gap: #{$margin * 1.2};
  @include custom-scrollbar($theme: dark);
  font: $font-size $font-main;
  height: inherit;
}

code {
  font-family: $font-monospace;
}

input, select, textarea {
  color: inherit;

  &:invalid {
    box-shadow: none;
  }
}

a {
  color: $color-secondary;

  &:focus,
  &:hover {
    color: $bgc-primary;
    text-decoration: none;
  }
}

ol, ul {
  list-style-position: inside;
}

hr {
  height: 1px;
  background: $border-color;
}

#app {
  $width: 550px;
  $height: 599px; // max-height for chrome extensions

  max-width: 700px;
  min-width: $width;
  min-height: $height;
  padding: $padding * 2 $padding * 3;
  margin: auto;
}

.sub-title {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: $padding;
  color: $color-secondary;
  display: block;
}

header {
  --flex-gap: #{$padding / 2};
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  color: #666;

  .app-version {
    font-weight: normal;
    font-size: 11px;
  }
}

.Tabs {
  overflow: initial !important;
  border-bottom: 1px solid $border-color;

  .Tab {
    position: relative;
    top: 1px;
    flex-direction: column;

    &.active {
      color: $bgc-primary;
    }
  }

  + .tab-content {
    padding: $padding * 2 0;
  }
}

.App {
  .dark-theme-icon {
    opacity: .5;

    &:hover {
      opacity: .7;
    }
  }
}

.flow {
  --flow-space: #{$margin};

  &:not(.column) {
    > * + * {
      margin-left: var(--flow-space);
    }
  }

  &.column {
    > * + * {
      margin-top: var(--flow-space);
    }
  }
}
