@import "~flex.box";
@import "../fonts";
@import "../mixins";
@include theme-setup;

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

body {
  @include custom-scrollbar($overlay: true);
  font: 15px Helvetica Neue, Roboto, sans-serif;
  background: var(--theme-bgc);
  color: var(--theme-color-text);
  height: 100%;
}

code {
  font-family: Lucida Console, Monaco, Consolas, monospace;
}

input, select, textarea {
  color: inherit;

  &:invalid {
    box-shadow: none;
  }
}

a {
  color: var(--theme-color-text2);

  &:focus,
  &:hover {
    color: var(--theme-color-primary);
    text-decoration: none;
  }
}

ol, ul {
  list-style-position: inside;
}

hr {
  height: 1px;
  background: var(--theme-border-color);
}

#app {
  margin: auto;
  max-width: 700px;
  min-width: 560px;
  min-height: 599px; // max allowed height within chrome's extension window
  padding: var(--theme-spacing-double) calc(var(--theme-spacing) * 3);
}

header {
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  color: var(--theme-color-header);
  padding-bottom: var(--theme-spacing-half);

  .app-version {
    font-weight: normal;
    font-size: 11px;
  }
}

.Tabs {
  .Tab {
    position: relative;
    top: 1px;
    flex-direction: column;

    &.active {
      color: var(--theme-color-primary);
    }
  }

  + .tab-content {
    padding: calc(var(--theme-spacing) * 2) 0;
  }
}

.dark-theme-icon {
  opacity: .5;

  &:hover {
    opacity: .7;
  }
}

