@import "~flex.box/src/flexbox.css";
@import "../fonts";
@import "../mixins";

@include theme-setup;

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

body {
  font: 15px Helvetica Neue, Roboto, sans-serif;
  background: var(--theme-bgc);
  color: var(--theme-color-text);
  height: 100%;
}

code {
  font-family: Lucida Console, Monaco, Consolas, monospace;
}

input, select, textarea {
  color: inherit;

  &:invalid {
    box-shadow: none;
  }
}

a {
  color: var(--theme-color-text2);

  &:focus,
  &:hover {
    color: var(--theme-color-primary);
    text-decoration: none;
  }
}

ol, ul {
  list-style-position: inside;
}

hr {
  height: 1px;
  background: var(--theme-border-color);
}

#app {
  @include custom-scrollbar($overlay: true);

  margin: auto;
  width: var(--theme-content-width);
  min-height: var(--theme-content-height);
  padding: var(--theme-spacing-double) calc(var(--theme-spacing) * 3);
}

.PageContent {
  display: flex;
  flex-direction: column;
  padding: var(--theme-spacing-double) 0;

  .not-found {
    text-align: center;
  }
}
