.DonationDialog {
  padding: calc(var(--theme-spacing-double) * 4);

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--theme-spacing);
    border-radius: var(--theme-spacing);
    border: var(--theme-border-radius) solid;
    max-width: var(--theme-content-width);
    padding: calc(var(--theme-spacing-double) * 1.5);
  }
}
