@use "../mixins" as *;

.Footer {
  padding-top: var(--theme-spacing-half);
  border-top: 1px solid var(--theme-border-color);

  .socialIcons {
    --flexGap: var(--theme-spacing-half) !important;
  }

  .support {
    font-size: small;
    text-align: right;

    a {
      @include pseudo-link;
    }
  }
}