.Footer {
  .social-icons {
    display: inline-block;
    vertical-align: middle;

    a {
      opacity: .75;
    }

    img {
      height: 25px;
      margin-left: $margin / 2;
      filter: grayscale(100%);
      opacity: .75;
      &:hover {
        opacity: 1;
        filter: grayscale(0);
      }
    }
  }

  .donation {
    .donate {
      border-bottom: 1px dotted;
      cursor: pointer;

      &:hover {
        font-weight: bold;
      }
    }
    .copied {
      color: $green-500;
    }
  }
}