.Footer {
  display: flex;
  gap: var(--theme-spacing-half);
  padding-top: var(--theme-spacing);
  border-top: 1px solid var(--theme-border-color);

  .socialIcons {
    display: flex;
    gap: var(--theme-spacing-half);
    align-items: center;
  }
}