.Header {
  header {
    direction: ltr;
    background: linear-gradient(90deg, #92268dee, transparent);
    padding: .75em;
    border-radius: var(--theme-border-radius);

    .app-title {
      text-transform: uppercase;
      font-weight: bold;
      color: white;
    }

    .ProUserInfo {
      color: var(--theme-bgc-invert);
      margin: auto;
      font-size: small;
    }

    .app-version {
      text-transform: lowercase;
      font-weight: normal;
      font-size: 11px;
    }
  }

  #pro-discount {
    text-decoration: none;
    gap: 3px;
    color: white;
    font-weight: 500;
    font-size: small;
    text-shadow: 0 0 5px #000000aa;
  }

  .Tabs > .Tab {
    flex-direction: row;
    padding: calc(var(--theme-spacing) * 1.5) var(--theme-spacing-double);
  }

  .PageContent {
    display: flex;
    flex-direction: column;
    padding: var(--theme-spacing-double) 0;

    .notFound {
      text-align: center;
    }
  }
}
