.PrivacyDialog {
  padding: var(--theme-spacing-double);

  .content {
    display: flex;
    flex-direction: column;
    gap: var(--theme-spacing);
    border-radius: var(--theme-spacing);
    border: var(--theme-border-radius) solid;
    max-width: var(--theme-content-width);
    padding: calc(var(--theme-spacing-double) * 1.5);
  }

  h3 {
    text-align: center;
  }

  .policyContent {
    display: flex;
    flex-direction: column;
    gap: var(--theme-spacing-half);
    overflow: auto;
    max-height: 400px;
    font-size: small;

    h1 {
      display: none;
    }

    h2 {
      font: inherit;
      font-weight: bold;
      margin-top: var(--theme-spacing);
    }
  }
}
