body {
  &.theme-dark {
    --theme-contast-color: white;
    --theme-contast-color-invert: #{darken($bgc-dark, 2.5%)};

    background: $bgc-dark;
    color: silver;
    @include custom-scrollbar(light);

    .page-title {
      color: #cccccc;
    }

    .Slider {
      --slider-track-color: gray;
      --slider-thumb-color: #444;
      --slider-thumb-color-active: white;
    }

    .Menu {
      --bgc: #{$bgc-dark};
      --bgc-active: var(--theme-contast-color-invert);
    }

    .Icon {
      --bgc-focus: none;
      color: lighten($color-secondary, 20%);

      &:focus, &:hover {
        color: var(--theme-contast-color);
      }
    }
  }
}