// FIXME: refactor & move parts to proper places
body {
  &.theme-dark {
    --theme-contast-color: white;
    --theme-contast-color-invert: #{darken($bgc-dark, 2.5%)};

    background: $bgc-dark;
    color: lighten($color-secondary, 2.5%);
    @include custom-scrollbar($theme: light);

    header {
      color: #cccccc;
    }

    .Tooltip {
      background: var(--theme-contast-color);
      color: var(--theme-contast-color-invert);
    }

    .sub-title,
    .Tabs {
      color: lighten($color-primary, 10%);
    }

    .Slider {
      --slider-track-color: gray;
      --slider-thumb-color: #444;
      --slider-thumb-color-active: white;
    }

    .Checkbox {
      --color-hover: var(--theme-contast-color);
    }

    .Menu {
      --bgc: #{$bgc-dark};
      --bgc-active: var(--theme-contast-color-invert);
    }

    .Icon {
      --bgc-active: none;
      --color-active: var(--theme-contast-color);
    }

    .Dialog {
      > .box {
        background: var(--theme-contast-color-invert);
      }
    }
  }
}