// TODO: convert to css-modules
.ReactSelect  {
  flex: 1;

  .ReactSelectCustomize {
    &__menu-list {
      @include custom-scrollbar($overlay: true) {
        --theme-scrollbar-size: 7px;
      }
    }

    // clickable arrow indicator
    &__dropdown-indicator {
      padding: var(--theme-spacing-half);
      svg {
        color: var(--theme-color-text);
      }
    }

    &__input-container,
    &__single-value {
      color: var(--theme-color-text);
    }

    // clickable input view
    &__control {
      border: 1px solid currentColor;
      min-height: 32px;
      box-shadow: none;
      background: var(--theme-bgc);

      &:focus-within {
        border-color: var(--theme-color-primary);
      }
    }

    &__menu {
      background: var(--theme-bgc);
      border: 1px solid var(--theme-border-color);
    }

    &__option {
      color: var(--theme-color-text);
      padding: var(--theme-spacing-half);

      &:active, &:hover,
      &--is-selected,
      &--is-focused {
        color: white;
        background: var(--theme-color-primary);
      }

      &--is-disabled {
        opacity: .75;
        cursor: not-allowed;
      }
    }
  }
}