.Select {
  --icon-size: 24px; // .Icon > --size
  --line-color: #{$border-color};
  --line-color-active: #{$bgc-primary};

  position: relative;

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    text-overflow: ellipsis;
    background: none;
    border-radius: 0;
    font: inherit;
    line-height: 1.6;
    padding-right: var(--icon-size);
    box-shadow: 0 1px var(--line-color);

    &:focus {
      box-shadow: 0 2px var(--line-color-active);

      ~ .arrow-icon {
        color: var(--line-color-active);
      }
    }

    &:disabled {
      &, ~ .arrow-icon {
        opacity: .7;
      }
    }
  }

  .arrow-icon {
    --size: var(--icon-size);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
