.Select {
  --select-line-color: var(--theme-border-color);
  --select-line-color-active: var(--theme-color-primary);

  position: relative;
  display: flex;

  select {
    appearance: none;
    width: 100%;
    text-overflow: ellipsis;
    background: none;
    border-radius: 0;
    font: inherit;
    line-height: 1.6;
    padding-right: var(--theme-spacing);
    box-shadow: 0 1px var(--select-line-color);

    &:focus {
      box-shadow: 0 2px var(--select-line-color-active);

      ~ .arrowIcon {
        color: var(--select-line-color-active);
      }
    }

    &:disabled {
      &, ~ .arrowIcon {
        opacity: .7;
      }
    }
  }

  .arrowIcon {
    --icon-size: 24px;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}
