.ExportSettingsDialog {
  --dialog-bgc: white;
  --dialog-padding: #{$padding * 2};

  .error {
    font-style: italic;
    color: $red-a100;
  }
}

@include theme-dark {
  .ExportSettingsDialog {
    --dialog-bgc: #{$bgc-dark};
  }
}