@import "../vars";

.TextField {
  position: relative;
  text-align: left;

  ::placeholder {
    color: inherit;
    opacity: .8;
  }

  textarea {
    @include custom-scrollbar(none, 0);
    line-height: 1.2;
    resize: none;
  }

  input[type="number"] {
    padding-right: $padding * 2;

    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    ~ .icon-arrow {
      position: absolute;
      user-select: none;
      right: 0;
      cursor: pointer;
      line-height: 10px;
      clip: rect(0 20px 10px 0);
      margin: 4px -2px;
      opacity: .5;

      &:hover {
        opacity: 1;
      }
      &.up {
        top: 0;
      }
      &.down {
        bottom: 0;
      }
    }
  }

  &.dirty.invalid {
    .label:after {
      width: 100%;
      background: $red-300;
    }
  }

  .label {
    position: relative;
    border-bottom: 1px solid $border-color;

    .input {
      width: 100%;
      height: 100%;
      background: none;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      padding-top: $padding / 2;
      padding-bottom: $padding / 2;
      text-align: inherit;
    }
    &:after {
      content: "";
      position: absolute;
      top: calc(100% - 1px);
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background: $bgc-primary;
      transition: width 250ms;
    }
  }

  [type="hidden"]:disabled ~ * {
    opacity: .5;
    pointer-events: none;
  }

  &.focused {
    .label:after {
      width: 100%;
    }
  }

  .errors {
    color: $color-error;
    min-height: $margin * 2;
    font-size: small;
  }

  .maxLength {
    position: absolute;
    right: 0;
    font-size: small;
  }

  &.withIcon {
    .input {
      &:focus ~ .icon > * {
        opacity: 1;
      }
    }
    .icon {
      position: relative;
      width: 25px;
      > * {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: $unit * 2;
        opacity: .5;
      }
    }
  }
}
