@import "../vars";

.TextField {
  position: relative;
  text-align: left;

  ::placeholder {
    color: inherit;
    opacity: .8;
  }

  textarea {
    @include custom-scrollbar(none, 0);
    line-height: 1.2;
    resize: none;
  }

  .label {
    --flex-gap: $padding;
    position: relative;
    border-bottom: 1px solid $border-color;

    .input {
      width: 100%;
      height: 100%;
      background: none;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      padding-bottom: $padding / 2;
      text-align: inherit;
      text-transform: inherit;
    }

    &:after {
      content: "";
      position: absolute;
      top: calc(100% - 1px);
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background: $bgc-primary;
      transition: width 250ms;
    }

    .material-icons {
      font-size: $unit * 2;
    }
  }

  [type="hidden"]:disabled ~ * {
    opacity: .5;
    pointer-events: none;
  }

  &.invalid.dirty {
    .label:after {
      background: $color-error;
    }
  }

  &.focused {
    .label:after {
      width: 100%;
    }
  }

  .errors {
    min-height: $margin * 2;
    font-size: small;
    color: $color-error;
    transition: 150ms min-height ease-in;
    &.compact:empty {
      min-height: 0;
    }
  }

  .maxLength {
    position: absolute;
    right: 0;
    font-size: small;
  }

  .validation-icon {
    color: #5bb90b;
    &.error {
      color: $color-error;
      cursor: help;
    }
  }

  /* Hide HTML5 Up and Down arrows. */
  input[type="number"] {
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    & ~ .arrow-icons {
      display: flex;
      flex-direction: column;
      > * {
        line-height: 10px;
        color: currentColor;
        &:hover {
          color: black;
        }
      }
    }
  }
}

