.UserHistory {
  .settings {
    margin-bottom: var(--theme-spacing-half);
  }

  .settings-content {
    margin: var(--theme-spacing) 0;
  }

  .loading {
    padding: var(--theme-spacing);
    text-align: center;
  }

  .load-more {
    margin-top: var(--theme-spacing);
  }

  .history {
    position: relative;
    list-style: none;
    min-height: 50px;

    &:empty {
      display: none;
    }

    .rtl {
      direction: rtl;
      text-align: right;
    }

    .history-date {
      display: flex;
      align-items: center;
      margin: var(--theme-spacing) 0;

      &:after, &:before {
        content: '';
        flex: 1;
        height: 1px;
        background: var(--theme-border-color);
      }

      &:before {
        margin-right: var(--theme-spacing);
      }

      &:after {
        margin-left: var(--theme-spacing);
      }
    }

    .history-items {
      border: 1px solid transparent;
      border-radius: var(--theme-border-radius);
      white-space: pre-line;
      padding: calc(var(--theme-spacing) / 3);

      &:not(:last-child) {
        margin-top: -1px;
      }

      &.isOpened {
        border-color: var(--theme-color-text);
      }

      &:hover {
        cursor: pointer;
        color: var(--theme-color-contrast);
        border-color: currentColor;

        * {
          color: inherit;
        }
      }

      .history-item {
        padding: var(--theme-spacing-half);

        &.showDetails {
          padding: var(--theme-spacing);
          border-top: 1px dotted; // adds line between vendor translations

          &:first-child {
            border-top: none;
          }
        }

        &.showDetails, &:hover {
          .icons {
            visibility: visible;
          }
        }

        .translation-service-info {
          opacity: .7;
        }
      }

      .searchMatchedResult {
        color: var(--theme-color-contrast);
        font-weight: 500; // semi-bold
      }

      .transcription {
        color: silver;
        font-style: italic;
      }

      .icons {
        visibility: hidden;
        opacity: .5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}