.UserHistory {
  $spacing: $margin * 2;

  .settings {
    margin-bottom: $margin /2;

    .Icon {
      &.active {
        color: var(--theme-color-primary);
      }
    }
  }

  .loading {
    padding: $padding;
    text-align: center;
  }

  .load-more {
    margin-top: $margin;
  }

  .history {
    position: relative;
    list-style: none;
    min-height: 50px;

    &:empty {
      display: none;
    }

    .rtl {
      direction: rtl;
      text-align: right;
    }

    .history-date {
      display: flex;
      align-items: center;
      margin: $margin 0;

      &:after, &:before {
        content: '';
        flex: 1;
        height: 1px;
        background: var(--theme-border-color);
      }

      &:before {
        margin-right: $spacing;
      }

      &:after {
        margin-left: $spacing;
      }
    }

    .history-items {
      border: 1px solid transparent;
      border-radius: var(--theme-border-radius);
      white-space: pre-line;
      padding: $padding / 3;

      &:not(:last-child) {
        margin-top: -1px;
      }

      &.isOpened {
        border-color: var(--theme-color-text);
      }

      &:hover {
        cursor: pointer;
        color: var(--theme-color-contrast);
        border-color: currentColor;

        * {
          color: inherit;
        }
      }

      .history-item {
        padding: $padding / 2;

        &.showDetails {
          padding: $padding;
          border-top: 1px dotted; // adds line between vendor translations

          &:first-child {
            border-top: none;
          }
        }

        &.showDetails, &:hover {
          .icons {
            visibility: visible;
          }
        }

        .translation-service-info {
          opacity: .7;
        }
      }

      .transcription {
        color: silver;
        font-style: italic;
      }

      .icons {
        visibility: hidden;

        &.remove-icon {
        }

        &.translation-info {
          cursor: default;
          margin: 0;
          opacity: .5;
        }
      }

      .Icon {
        opacity: .5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}