// Custom fonts from Google
// Source: https://fonts.google.com/

$loadPath: 'chrome-extension://__MSG_@@extension_id__/fonts';

@font-face {
  font-family: 'Material Icons';
  src: url("#{$loadPath}/MaterialIcons-Regular.ttf"),
}

@font-face {
  font-family: 'Roboto';
  src: url("#{$loadPath}/Roboto-Regular.ttf"),
}

@font-face {
  font-family: 'Lato';
  src: url("#{$loadPath}/Lato-Regular.ttf"),
}

@font-face {
  font-family: 'Open Sans';
  src: url("#{$loadPath}/OpenSans-Regular.ttf"),
}

@font-face {
  font-family: 'Raleway';
  src: url("#{$loadPath}/Raleway-Regular.ttf"),
}

@font-face {
  font-family: 'Lobster';
  src: url("#{$loadPath}/Lobster-Regular.ttf"),
}
