//-- Mixins
@import "theme-vars";

@mixin custom-scrollbar($size: 7px, $spaceAround: 5px) {
  $scrollBarColor: var(--theme-scrollbar-bgc, silver);
  $scrollBarSize: calc(var(--theme-scrollbar-size, #{$size}) + #{$spaceAround * 2});

  overflow: auto; // allow scrolling for container
  //overscroll-behavior: contain;

  // Webkit
  &::-webkit-scrollbar {
    width: $scrollBarSize;
    height: $scrollBarSize;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bgc, #{$scrollBarColor});
    background-clip: padding-box;
    border: $spaceAround solid transparent;
    border-radius: $scrollBarSize;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  // Firefox
  scrollbar-color: $scrollBarColor transparent;
  scrollbar-width: thin;
}

// Hide scrollbar but keep the element scrollable
@mixin hidden-scrollbar {
  overflow: auto;
  // Chrome, Safari
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
  scrollbar-width: none; // Firefox 65+
  -ms-overflow-style: none; // IE (10,11?), Edge(?)
}

@mixin stripe-lines-animation($color1: #ccc, $color2: transparent, $spacing: 1rem) {
  background: repeating-linear-gradient(-45deg, $color2, $color2, $spacing, $color1 $spacing, $color1 $spacing * 2);
  background-size: 200% 200%;
  animation: stripeLines 10s linear infinite;

  @keyframes stripeLines {
    100% {
      background-position: 100% 100%;
    }
  }
}

// Makes custom @font-family available at earlier stages
// Element must exist in DOM as soon as possible to initiate preloading
@mixin font-preload($fontFamily) {
  position: absolute;
  visibility: hidden;
  height: 0;

  &:before {
    width: 0;
    display: block;
    overflow: hidden;
    content: "x"; // some text required to start applying font in document
    font-family: $fontFamily; // imported name in @font-face declaration
    @content;
  }
}
