//-- Mixins
@import "theme";

@mixin custom-scrollbar($borderSpace: 5px, $overlay: false) {
  $size: calc(var(--theme-scrollbar-size) + #{$borderSpace * 2});

  @if ($overlay) {
    overflow: overlay; // cover scrollbar area with <Dialog modal/>
  } @else {
    overflow: auto;
  }

  // https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior
  overscroll-behavior: contain;

  &::-webkit-scrollbar {
    width: $size;
    height: $size;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--theme-scrollbar-bgc);
    background-clip: padding-box;
    border: $borderSpace solid transparent;
    border-radius: $size;
    @content;
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

// Hide scrollbar but keep the element scrollable
@mixin hidden-scrollbar {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
}

@mixin stripe-lines-animation($color1: #ccc, $color2: transparent, $spacing: 1rem) {
  background: repeating-linear-gradient(-45deg, $color2, $color2, $spacing, $color1 $spacing, $color1 $spacing * 2);
  background-size: 200% 200%;
  animation: stripeLines 10s linear infinite;

  @keyframes stripeLines {
    100% {
      background-position: 100% 100%;
    }
  }
}

@mixin pseudo-link {
  text-decoration: none;
  border-bottom: 1px dotted;
  cursor: pointer;

  &:hover {
    border-bottom-style: solid;
  }
}