// Themes customization (dark/light)
@use "./colors" as *;

@mixin theme-vars() {
  --flex-gap: var(--theme-spacing);
  --theme-content-width: clamp(620px, 1000px, 100%);
  --theme-content-height: 600px;
  --theme-color-contrast: black;
  --theme-bgc: white;
  --theme-bgc-invert: #36393e;
  --theme-color-primary: #942486aa;
  --theme-color-accent: #e85555;
  --theme-color-text: #87909c;
  --theme-color-text2: #a0a0a0;
  --theme-color-success: #{$green-600};
  --theme-color-error: #{$red-500};
  --theme-border-color: rgba(from var(--theme-color-text) r g b / .5);
  --theme-border-radius: 5px;
  --theme-spacing: 10px;
  --theme-spacing-half: calc(var(--theme-spacing) / 2);
  --theme-spacing-double: calc(var(--theme-spacing) * 2);
  --theme-scrollbar-bgc: rgba(0, 0, 0, .25);
  --theme-scrollbar-size: var(--theme-spacing);
}

@mixin theme-vars-dark {
  --theme-color-contrast: white;
  --theme-bgc: #36393e;
  --theme-bgc-invert: white;
  --theme-color-text: #a0a0a0;
  --theme-scrollbar-bgc: rgba(255, 255, 255, .25);
}

@mixin theme-dark($selector: ":root") {
  #{$selector}[data-theme="dark"] {
    @content;
  }
}

@mixin theme-setup($selector: ":root") {
  #{$selector} {
    @include theme-vars;
  }

  @include theme-dark($selector) {
    @include theme-vars-dark;
  }
}
