@use "../mixins" as *;

.Notifications {
  @include hidden-scrollbar;

  position: absolute;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  right: 0;
  bottom: 0;
  padding: var(--theme-spacing-double);
  max-height: 100vh;
  z-index: 100000;

  &:empty {
    display: none;
  }

  .notification {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--theme-spacing);
    border-radius: 3px;
    min-width: 350px;
    max-width: 35vw;
    word-break: break-word;
    color: white;

    $statusColors: (
      ok: #4caf50,
      error: #ce3933,
      info: #3d90ce,
    );

    @each $statusName, $color in $statusColors {
      &:global(.#{$statusName}) {
        background: $color;
      }
    }

    &:not(:last-child) {
      margin-bottom: var(--theme-spacing-double);
    }

    .infoIcon {
    }

    .closeIcon {
      --icon-color-active: inherit;
    }

    .message {
      flex: 1;
      white-space: pre-line;
      padding-left: var(--theme-spacing);
      padding-right: var(--theme-spacing-double);

      a {
        color: inherit;
      }
    }
  }
}