$md-icons-font-path: "~material-design-icons/iconfont/" !default;

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'),
  url("#{$md-icons-font-path}MaterialIcons-Regular.woff2") format('woff2'),
  url("#{$md-icons-font-path}MaterialIcons-Regular.woff") format('woff'),
  url("#{$md-icons-font-path}MaterialIcons-Regular.ttf") format('truetype');
}