.Checkbox {
  --flexGap: calc(var(--theme-spacing) / 1.5);
  --checkbox-size: 17px;
  --checkbox-color: currentColor;
  --checkbox-color-hover: var(--theme-bgc-invert);
  --checkbox-color-focus: var(--theme-color-primary);

  display: flex;
  align-items: center;
  gap: var(--flexGap);

  &:hover {
    color: var(--checkbox-color-hover);
  }

  &:focus {
    color: var(--checkbox-color-focus);
  }

  &:not(.disabled) {
    cursor: pointer;
  }

  &.inline {
  }

  &.disabled {
    color: var(--checkbox-color);
    opacity: .5 !important;
    cursor: not-allowed;
  }

  &.checked {
    .tickBox:after {
      opacity: inherit;
    }
  }

  .tickBox {
    position: relative;
    width: var(--checkbox-size);
    height: var(--checkbox-size);
    color: currentColor;
    border: 2px solid currentColor;
    border-radius: 2px;
    flex-shrink: 0;

    // tick [√]
    &:after {
      content: "";
      border: inherit;
      color: inherit;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 60%;
      border-top: 0;
      border-right: 0;
      transform: rotate(-45deg);
      opacity: 0;
    }
  }
}
