.Checkbox {
  --size: 17px;
  --color: currentColor;
  --color-hover: #{$bgc-dark};
  --color-focus: #{$bgc-primary};
  --flex-gap: #{$margin / 1.5};

  &:hover {
    color: var(--color-hover);
  }

  &:focus {
    color: var(--color-focus);
  }

  &:not(.disabled) {
    cursor: pointer;
  }

  &.inline {}

  &.disabled {
    color: var(--color);
    opacity: .5 !important;
    cursor: not-allowed;
  }

  &.checked {
    > .box:after {
      opacity: inherit;
    }
  }

  .label {}

  > .box {
    position: relative;
    width: var(--size);
    height: var(--size);
    color: currentColor;
    border: 2px solid currentColor;
    border-radius: 2px;
    flex-shrink: 0;

    // tick [√]
    &:after {
      content: "";
      border: inherit;
      color: inherit;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 60%;
      border-top: 0;
      border-right: 0;
      transform: rotate(-45deg);
      opacity: 0;
    }
  }
}

@include theme-dark {
  .Checkbox {
    --color-hover: white;
  }
}