@use "../mixins" as *;

.Dialog {
  @include hidden-scrollbar;

  --dialog-bgc: var(--theme-bgc);
  --dialog-padding: var(--theme-spacing-double);
  --dialog-border: 1px solid currentColor;
  --dialog-spacing: auto;

  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 10000;

  .closeIcon {
    position: absolute;
    right: 0;
    top: 0;
    margin: var(--theme-spacing);
  }

  .box {
    position: relative;
    margin: var(--dialog-spacing, auto);
    border: var(--dialog-border);
    background-color: var(--dialog-bgc);
    padding: var(--dialog-padding);
    border-radius: var(--theme-border-radius);
    z-index: 1; // show on top of .modal
  }

  &.pinned {
  }

  &.modal {
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      opacity: .5;
      background: var(--theme-bgc-invert);
    }
  }
}
