@import "../vars";

.Dialog {
  @include custom-scrollbar();
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: $unit * 5;
  z-index: 100;

  &.modal {
    background: transparentize(#222, .5);
  }

  > .box {
    padding: $padding * 2;
    background: white;
    color: black;
  }
}