
.Dialog {
  @include custom-scrollbar;

  --flex-gap: #{$margin};
  --dialog-bgc: white;
  --dialog-padding: #{$margin * 2};
  --dialog-border: 1px solid #ffffff15;

  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  z-index: 100;

  .box {
    border: var(--dialog-border);
    background-color: var(--dialog-bgc) !important;
    padding: var(--dialog-padding) !important;
  }

  &.pinned {
    pointer-events: none;
  }

  &.modal {
    background: transparentize(#222, .5);
  }
}

@include theme-dark {
  .Dialog {
    --dialog-bgc: #{darken($bgc-dark, 2.5%)};
  }
}