.Footer {
  padding-top: var(--theme-spacing);
  border-top: 1px solid var(--theme-border-color);

  .socialIcons {
    display: inline-block;
    vertical-align: middle;

    a {
      opacity: .75;
    }

    img {
      height: 25px;
      margin-left: var(--theme-spacing-half);
      filter: grayscale(100%);
      opacity: .75;

      &:hover {
        opacity: 1;
        filter: grayscale(0);
      }
    }
  }
}