.Tooltip {
  position: absolute;
  background: rgba(45, 48, 53, 0.94);
  font-size: small;
  font-weight: normal;
  border-radius: $radius;
  color: gainsboro;
  margin: #{$padding / 2 $padding / 3};
  padding: .5em;
  pointer-events: none;
  max-width: 50%;
  z-index: 1000;

  &:empty {
    display: none;
  }

  &.following {
    position: fixed;
  }

  &.nowrap {
    white-space: nowrap;
  }

  &:not(.following) {
    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    &.top {
      bottom: 100%;
    }

    &.bottom {
      top: 100%;
    }

    &.center {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}