.Tooltip {
  position: absolute;
  background: var(--theme-bgc-invert);
  color: var(--theme-bgc);
  border-radius: var(--theme-border-radius);
  font-size: small;
  font-weight: normal;
  padding: .5em;
  pointer-events: none;
  z-index: 10000;

  &:empty {
    display: none;
  }

  &.following {
    position: fixed;
  }

  &.nowrap {
    white-space: nowrap;
  }

  &:not(.following) {
    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    &.top {
      bottom: 100%;
    }

    &.bottom {
      top: 100%;
    }

    &.center {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
