.Tooltip {
  position: absolute;
  background: rgba(45, 48, 53, 0.94);
  font-size: small;
  font-weight: normal;
  border: 1px solid $border-color;
  border-radius: $radius;
  color: gainsboro;
  margin: #{$padding / 2 $padding / 3};
  white-space: normal;
  padding: .5em;
  text-align: center;
  z-index: 10001;

  * {
    white-space: normal;
  }

  &:empty {
    display: none;
  }

  &:not(.following) {
    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }

    &.top {
      bottom: 100%;
    }

    &.bottom {
      top: 100%;
    }

    &.center {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.nowrap {
    white-space: nowrap;
  }
}