.SvgIcon {
  $small: 1.7 * $unit;
  $big: 3.6 * $unit;

  svg {
    transition: .5s color;
    * {
      fill: currentColor;
    }
    line {
      stroke: currentColor;
    }
  }

  &.button {
    cursor: pointer;
    &:hover {
      color: white;
    }
  }

  &.small {
    display: inline-block;
    width: $small;
    height: $small;
  }

  &.big {
    display: inline-block;
    width: $big;
    height: $big;
  }
}