
.TextField {
  position: relative;
  text-align: left;
  --text-field-border-color: #{transparentize($color-primary, .5)};
  --text-field-focus-color: #{$bgc-primary};

  textarea {
    @include custom-scrollbar(none, 0);
    line-height: 1.2;
    resize: none;
  }

  .label {
    --flex-gap: #{$padding / 2};
    position: relative;
    border-bottom: 1px solid var(--text-field-border-color);

    .input {
      width: 100%;
      height: 100%;
      background: none;
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      padding-bottom: $padding / 2;
      text-align: inherit;
      text-transform: inherit;

      &::placeholder {
        opacity: .75;
        color: inherit;
      }
    }

    &:after {
      content: "";
      position: absolute;
      top: calc(100% - 1px);
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 2px;
      background: var(--text-field-focus-color);
      transition: width 250ms;
    }

    .Icon {
      font-size: $unit * 2;
    }
  }

  [type="hidden"]:disabled ~ * {
    opacity: .5;
    pointer-events: none;
  }

  &.invalid.dirty {
    .label:after {
      background: $color-error;
    }
  }

  &.focused {
    .label:after {
      width: 100%;
    }
  }

  .errors {
    font-size: small;
    min-height: $margin * 2;
    transition: 150ms min-height ease-in;

    &.compact:empty {
      min-height: 0;
    }
  }

  .validation-icon {
    position: relative;

    &.valid {
      .Icon {
        color: #5bb90b;
      }
    }

    &.invalid {
      .Icon {
        color: $color-error;
      }
    }

    .Tooltip {
      background: $color-error;
      color: white;
      font-size: small;
      white-space: nowrap;
      right: 100%;
      margin: 0 $padding/2;
      transform: translateY(-50%);
      top: 50%;
    }
  }

  .maxLength {
    position: absolute;
    right: 0;
    font-size: small;
  }

  /* Hide HTML5 Up and Down arrows. */
  input[type="number"] {
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    & ~ .arrow-icons {
      width: 25px;
      height: 20px;
      display: flex;
      flex-direction: column;

      .Icon {
        --bgc-active: none;
        --color-active: #{$bgc-primary};
        flex: 1;

        > span {
          line-height: 50%;
        }
      }
    }
  }
}
