
.ThemeManager {
  .theme {
    margin: var(--theme-spacing) 0;
    margin-bottom: var(--theme-spacing-double) !important;
    padding: var(--theme-spacing) 0;
    border-top: 1px solid var(--theme-border-color);
    border-bottom: 1px solid var(--theme-border-color);

    > .flex {
      padding: var(--theme-spacing);
      padding-top: 0;

      &.auto {
        padding-left: 0;
      }
    }

    .ColorPicker + .ColorPicker {
      margin-left: var(--theme-spacing-half);
    }
  }
}