.SelectLanguage {
  flex: 1;

  > .Select {
    flex: 1 0;
  }

  .language {
    padding: var(--theme-spacing-half);

    &.auto {
      user-select: none;
    }
  }

  .country-icon {
    width: 20px; // 4x3
    height: 15px;
    border: 1px solid currentColor;
  }
}
