.SelectLanguage {
  flex: 1;

  > .Select {
    flex: 1 0;

    [class*="-option"],
    [class*="-indicatorContainer"] {
      padding: var(--theme-spacing-half);
    }

    [class*="-control"] {
      border: 1px solid currentColor;
      min-height: 32px;
      box-shadow: none;
      background: none;

      [class*="-singleValue"] {
        color: var(--theme-color-text);
      }

      &:focus-within {
        border-color: var(--theme-color-primary) !important;
      }
    }
  }

  .language {
    padding: var(--theme-spacing-half);

    &.auto {
      user-select: none;
    }
  }

  .country-icon {
    width: 20px; // 4x3
    height: 15px;
    border: 1px solid currentColor;
  }
}

@include theme-dark {
  .Select {
    [class$="-option"]:hover {
      background: var(--theme-color-primary);
    }

    [class$="-menu"] {
      background: var(--theme-bgc);
      border: 1px solid currentColor;
    }
  }
}
