@use "../mixins" as *;

.ProviderAuthSettings {
  display: flex;
  gap: var(--theme-spacing);
  align-items: center;
}

.key {
  white-space: nowrap;
}

.setupApiKey {
  @include pseudo-link;

  display: flex;
  gap: var(--theme-spacing);
  font-size: small;
}
