@use "../mixins" as *;

.Settings {
  display: flex;
  flex-direction: column;
  gap: var(--theme-spacing);
  align-items: flex-start;

  > * {
    display: flex;
    width: 100%;
  }

  .grid {
    display: grid;
    gap: var(--theme-spacing);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: start;

    &:first-child {
      padding-right: var(--theme-spacing-double);
    }
  }

  .inline {
    width: auto;
  }

  .providers {
    display: flex;
    flex-direction: column;
    gap: var(--theme-spacing);
    padding: var(--theme-spacing) 0;
  }

  .providerSelect {
    min-width: 100px;
  }

  .providerSettings {
    display: flex;
    gap: var(--theme-spacing);
    font-size: small;
  }

  .provider {
    --flexGap: var(--theme-spacing-half);
    position: relative;
  }

  .providerUrl {
    flex: 0 1 auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .showAdvanced {
    @include pseudo-link;
    font-size: small;
    width: auto;
  }
}