.Settings {
  .sub-title {
    padding: 0;
  }

  > .display-options {
    .Checkbox {
      flex: 1 0 50%;
      margin-bottom: $padding / 2;
      &:nth-child(odd) {
        padding-right: $padding;
      }
    }

    .hotkey {
      min-width: 75px;
      text-align: center;
      .errors {
        display: none;
      }
    }
  }
  
  small {
    color: $color-secondary;
  }

  .vendor > * {
    --flex-gap: #{$margin /2};
    .label {
      margin-right: var(--flex-gap);
    }
  }
}