.Settings {
  .grid {
    display: grid;
    gap: var(--theme-spacing);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: start;
    align-items: center;

    &:first-child {
      padding-right: var(--theme-spacing-double);
    }
  }

  .systemTts {
    width: 100%;
  }

  .providers {
    display: flex;
    flex-direction: column;
    gap: var(--theme-spacing);
    padding: var(--theme-spacing) 0;
  }

  .providerSelect {
    min-width: 100px;
  }

  .providerSettings {
    font-size: small;
  }

  .provider {
    display: flex;
  }

  .providerSkipRotation {
    opacity: .75;
    text-decoration: line-through;
  }
}