.Settings {
  .popupSettings {
    display: flex;

    .Icon {
      margin-left: -2px;
    }
  }

  .checkboxGroup {
    display: flex;
    flex-direction: column;
    gap: 7px;

    &:first-child {
      padding-right: var(--theme-spacing-double);
    }
  }

  .hotkey {
    width: 75px;
    text-align: center;
  }

  small {
    color: var(--theme-color-text2);
  }

  .vendors {
    --flex-gap: var(--theme-spacing-half);
    margin-right: var(--theme-spacing-double);
  }
}