.Settings {
  > .display-options {
    .Checkbox {
      flex: 1 0 50%;
      margin-bottom: $padding / 2;
      &:nth-child(odd) {
        padding-right: $padding;
      }
    }

    .hotkey {
      min-width: 75px;
      text-align: center;
      .errors {
        display: none;
      }
    }
  }

  > .vendors {
    $gap: $margin / 2;
    --flex-gap: $gap;
    .label {
      margin-right: $gap;
    }
  }
}