.Settings {
  &, > article {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
  }

  .grid {
    display: grid;
    gap: var(--flex-gap);
    grid-template-columns: 1fr 1fr;

    &:first-child {
      padding-right: var(--theme-spacing-double);
    }
  }

  .hotkey {
    width: 75px;
    text-align: center;
  }

  small {
    color: var(--theme-color-text2);
  }

  .vendors {
    --flex-gap: var(--theme-spacing-half);
    margin-right: var(--theme-spacing-double);
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
  }
}