
.Tabs {
  --tabs-color-active: #{$bgc-primary};
  --tabs-line-color: #{transparentize($color-primary, .5)};
  --tabs-line-color-active: currentColor;

  .tabs-header {
    border-bottom: 1px solid var(--tabs-line-color);
    text-align: center;
    flex-shrink: 0;

    &.align {
      &-left {
        justify-content: flex-start;
      }
      &-center {
        justify-content: center;
      }
      &-right {
        justify-content: flex-end;
      }
    }

    .tab {
      position: relative;
      text-decoration: none;
      padding: $padding $padding * 2;
      color: inherit;
      white-space: nowrap;
      text-transform: uppercase;
      font-weight: bold;

      &.disabled {
        opacity: .5;
        pointer-events: none;
      }

      &:not(.disabled) {
        cursor: pointer;
        &:after {
          content: "";
          position: absolute;
          right: 0;
          bottom: -1px;
          width: 0;
          height: .5 * $unit;
          background: currentColor;
          transition: width 250ms;
        }

        &.active,
        &:focus:not(:active),
        &:hover:not(.active) {
          &:after {
            left: 0;
            right: auto;
            width: 100%;
          }
        }
      }

      &.active {
        cursor: default;
        color: var(--tabs-color-active);
        &:after {
          background: var(--tabs-line-color-active);
        }
      }
    }
  }

  .tabs-content {
    &:empty {
      display: none;
    }
  }
}